<h1>Lightbox Template - Node.js + Socket.io </h1>
<p>Welcome to {{title}}</p>

<section>
    <ul>
        <li><a href="/controller">Controller</a></li>
        <li><a href="/screens">Screens</a></li>
        <li><a href="/shades">Shades</a></li>
    </ul>
</section>