<div id="home">
    <h1>Lightbox Template - Node.js + Socket.io </h1>
    <p>Enter a description of the project and how to set it up on the screens in the Lightbox.</p>

    <section>
        <ul>
            <li><a href="/controller">Controller</a></li>
            <li><a href="/screens">Screens</a></li>
            <li><a href="/shades">Shades</a></li>
        </ul>
    </section>
</div>    