<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
    <title>{{title}}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
