<div id="screens">
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
</div>

<script>
    let socket = io('/screens');

    document.addEventListener('DOMContentLoaded', (event) => {
        // ready to go
    })
</script>