html, body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home {
  padding: 50px;
}

#screens {
  display: grid;
  grid-gap: 0px;
  align-items: center;
  justify-items: center;

  position: fixed;
  top: 0px;
  left: 0px;  
}

#screens.grid-3x3 {
  grid-template-columns: 1920px 1920px 1920px;
  grid-template-rows: 1080px 1080px 1080px;
}

#screens.grid-1x1 {
  grid-template-columns: 5760px;
  grid-template-rows: 3240px;
}

#screens .screen {
  /* align-self: center; */
}

#controller {
  padding: 50px;
}

#shades {
  display: grid;
  grid-template-columns: 3840px;
  grid-template-rows: 1080px;
  grid-gap: 0px;

  position: fixed;
  top: 0px;
  left: 0px;
}